@import './base/variables';

* {
  border: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $main-font;
  color: $on-main-color;
}

ul,
ol {
  list-style-type: none;
  text-decoration: none;
}

li,
a,
li a {
  text-decoration: none;
}

body {
  background-color: $main-color;
  overflow-x: hidden;
}

.container {
  width: 1705px;
  margin-left: 161px;
}

article {
  padding-top: 95px;
}

.last {
  padding-bottom: 203px;
}

.primaryButton {
  background: linear-gradient(90deg, #6A11CB 0%, #2575FC 100%);
}

.secondaryButton {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.125) 50%, rgba(255, 255, 255, 0.1) 100%);
  backdrop-filter: blur(10px);
}

.miniButton {
  width: 96px;
  height: 80px;
}

.rating {

  position: absolute;
  top: 28px;
  left: 28px;
  background: linear-gradient($blue-gradient);
  border-radius: 12px;
  width: 75px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;

  .rate {

    font-weight: 500;
    font-size: 28px;
  }
}
