@import './base/variables';

* {
  border: none; 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $main-font;
  color: $on-main-color;
}

ul, ol {
  list-style-type: none;
  text-decoration: none;
}

li, a, li a {
  text-decoration: none;
}

body {
  background-color: $main-color;
  overflow-x: hidden;
}

.container {
  width: 1605px;
  margin: 0 auto;
}

article {
  padding-top: 95px;
}

.last {
  padding-bottom: 203px;
}
