@import "@/styles/base/variables";

.description {

  margin-top: 60px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;

    h3 {
      font-weight: 700;
      font-size: 40px;
    }
    span {
      font-size: 30px;
    }
    &_warning {
      width: 1641px;
      height: 72px;
      display: flex;
      flex-direction: row;
      gap: 20px;
      
      p {
        color: #4b4b4b;
        font-size: 28px;
      }
    }
  }
}
