@import '@/styles/base/variables';

.header {
  max-width: 170px;
  position: fixed;
  margin-top: 40px;
  margin-left: 55px;

  nav {
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  

    ul {
      display: flex;
      flex-direction: column;
      gap: 28px;
    }
  }
  
  &__logo {
    margin-left: 9px;
  }
}
